#Polynomial Regression

##import library

In [9]:
import numpy as np
import pandas as pd
import matplotlib as plt

##importing the dataset

In [10]:
data = pd.read_csv("Position_Salaries.csv")

##slicing the data

In [11]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

array([['Business Analyst', 1],
       ['Junior Consultant', 2],
       ['Senior Consultant', 3],
       ['Manager', 4],
       ['Country Manager', 5],
       ['Region Manager', 6],
       ['Partner', 7],
       ['Senior Partner', 8],
       ['C-level', 9],
       ['CEO', 10]], dtype=object)

##spliting the data into test and training

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

(array([['Region Manager', 6],
        ['Business Analyst', 1],
        ['Senior Partner', 8],
        ['Senior Consultant', 3],
        ['CEO', 10],
        ['Country Manager', 5],
        ['Manager', 4],
        ['Partner', 7]], dtype=object),
 array([500000,  50000]))